*.zip
GenerateFiles.py
build/GenerateFiles/Analysis-00.toc
build/GenerateFiles/EXE-00.toc
build/GenerateFiles/GenerateFiles.pkg
build/GenerateFiles/localpycs/pyimod01_archive.pyc
build/GenerateFiles/localpycs/pyimod02_importers.pyc
build/GenerateFiles/localpycs/pyimod03_ctypes.pyc
build/GenerateFiles/localpycs/pyimod04_pywin32.pyc
build/GenerateFiles/localpycs/struct.pyc
build/GenerateFiles/PKG-00.toc
build/GenerateFiles/PYZ-00.pyz
build/GenerateFiles/PYZ-00.toc
build/GenerateFiles/warn-GenerateFiles.txt
build/GenerateFiles/xref-GenerateFiles.html
dist/GenerateFiles.exe
GenerateFiles.exe
GenerateFiles.spec
game/Settings.ini
game/QeffectsGL.ini